# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Kurt Hornik suggested this
importFrom("stats", "addmargins", "pchisq", "toeplitz")

